

.avatar {
  clip-path: circle(25px at center);    
  max-width:50px;
  width: auto;
  height: auto;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.avatar-big {
  max-width:200px;
  width: auto;
  height: auto;
}

.card-back {
  position:absolute;
  text-align:center;
}

.card-big {
  background-color:#fbd603;
  border-radius: 10px;
  margin: auto;
  text-align:center;
  font-family: "Arial", "Helvetica", "sans-serif";
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 25px;
}

.fact-list {
  text-align:left;
  margin: 25px;
}