

.avatar-div {
  clip-path: circle(26px at center);    
  width: 52;
  height: 52;
  background-color:#CCCCCC;
}

.avatar-div-kv {
  clip-path: circle(26px at center);    
  width: 52;
  height: 52;
  background-color:#FFCC00;
}

.avatar {
  clip-path: circle(25px at center);    
  max-width:50px;
  width: auto;
  height: auto;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  top: 1;
  position: relative;
}

.avatar-big {
  max-width:200px;
  width: auto;
  height: auto;
}

.card-back {
  position:absolute;
  text-align:center;
}

.card-big {
  background-color:#ebebeb;
  border-radius: 10px;
  margin: auto;
  text-align:center;
  font-family: "Arial", "Helvetica", "sans-serif";
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 25px;
  border-style: solid;
  border-width: 0.5px;
}

.fact-list {
  text-align:left;
  margin: 25px;
}